<template>
  <div class="home">
    <h3 class="lpage">Landing Page</h3>

    <table>
    
      <tbody>
        <tr>
          <th>Id</th>
          <th>Registration No</th>
          <th>OBU no</th>
          <th>Owner</th>
          <th>Vehicle Type</th>
          <th>Location</th>
          <th>Country</th>
          <th>Charges</th>
          <!-- <td>Image</td> -->
      </tr>
        <tr v-for="data in datas" :key="data.id" >
          <td >{{data.vehicleId}}</td>
          <td >{{data.vehicleRegistrationNo}}</td>
          <td >{{data.obuno}}</td>
          <td>{{data.vehicleOwner}}</td>
          <td >{{data.vehicleType}}</td>
          <td >{{data.location}}</td>
          <td >{{data.country}}</td>
          <td >{{data.charges}}</td>
        </tr>
      </tbody>
    </table>
    <div class="ModalBtn">
      <Modal @addedData="addedData" />
    </div>

  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
import axios from 'axios';
// import data from '@/data.json'
import Modal from '@/components/Modal.vue'
export default {
  name: 'Home',
  data(){
    return {
      datas : [],

    }
  },
  components: {
    // HelloWorld,
    Modal,
  },
  mounted(){
     axios.get('http://vehicledetailsmsts-env.eba-ceiaaxx3.ap-southeast-1.elasticbeanstalk.com/msts/getVehicleInfo').then((resp)=>{
       console.log(resp.data.response)
            if(resp.data.response.length != 0){

              this.datas = resp.data.response;
            }
     });
            
        
    
  },
  methods:{
    addedData(data){
      // let nextId = this.datas.length +1;
      console.log(this.datas[this.datas.length-1].vehicleId+1);
      data.vehicleId  = this.datas[this.datas.length-1].vehicleId+1;
      console.log(data);
       axios.post('http://vehicledetailsmsts-env.eba-ceiaaxx3.ap-southeast-1.elasticbeanstalk.com/msts/insertVehicleInfo',data).then((resp)=>{
                    console.log(resp)

                }).catch((error)=> {
                    console.log("-----------------")
                    console.log(error);
                });
      
      
      this.datas.push(data)


    }
  }
}
</script>
<style lang="scss">
.lpage {
  margin-bottom: 20px;
  padding-bottom:10px;
  border-bottom:1px solid #000;
}
.home{
  margin-bottom: 30px;
}
table{
  border-collapse: collapse;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
table, th, td {
  border: 1px solid #ddd;
  padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
.ModalBtn {
  text-align: left;
  width: 95px;
  margin-top: 10px;

}
</style>
