<template>
    <div class="LoginPage">
        <h1 class="center">Toll plaza</h1>
        <div class="PageWrapper">
            <h2>Login Page</h2>

            <div class="username">
                <!-- <label>Username: </label> -->
                <input type ="text" placeholder="username" v-model="username"/>
            </div>
            <div class="password">
                <!-- <label>Password: </label> -->
                <input type ="password" placeholder="password" v-model="password"/>
            </div>
            <div>
                <p v-if="flag">Incorrect username and password </p>
            </div>
            <div class="BtnWrapper">
                <v-btn class="submitBtn" small  @click="Login">Submit</v-btn>
                <RegisterModal class="registerBtn"/>
            </div>
        </div>    
    </div>    
</template>
<script>
// import VueRouter from 'vue-router';
import axios from 'axios'
import RegisterModal from './../components/RegisterModal';
export default {
    
    name:'Login',
    data(){
            return{
                username:"",
                password:"",
                flag : false
            }
            
        },
    mounted(){
       
    },
    components:{
        RegisterModal
    },
    methods:{
        Login(){
            let {username,password} = this;
                console.log("login");
                axios.post('http://vehicledetailsmsts-env.eba-ceiaaxx3.ap-southeast-1.elasticbeanstalk.com/msts/login',{
                    username:username,
                    password:password
                }).then((resp)=>{
                    console.log(resp);
                    if(resp.data.statusCode == 200){
                        this.$router.push({path:'home'})
                    }else {
                        this.flag = true
                    }

                }).catch((error)=> {
                    console.log("-----------------")
                    console.log(error);
                });
                    // this.$router.push({path:'home'})

        }
    }
}
</script>
<style lang="scss">
.center {
    text-align: center;
}
  .LoginPage{
    position: relative;
    .PageWrapper{
        margin-top: 40px;
        text-align: center;
        h2{
            
        }
        h2,.username {
            margin-bottom: 20px;
        }
        input {
            border: 1px solid #000;
            padding: 2px;
            width: 185px;
        }
        .BtnWrapper {
            margin-left: -15px;

        }
        .submitBtn {
            display: inline-block;
            margin-top: 20px;
            background-color: cadetblue !important;
            width: 75px;
            &:active,&:focus{
                color: #ffffff;
            }
        }
        .registerBtn {
            display: inline-block;
            width: 75px;
            vertical-align: bottom;
            margin-left: 20px;
        }
    }
  }
  
</style>