<template>
    <div id="app">
  <v-app id="inspire">
      <v-dialog v-model="dialog" persistent max-width="590">
        <template v-slot:activator="{ on }">
          <v-btn small class="addDataBtn" v-on="on">Add Data</v-btn>
        </template>
        <v-card class="CardContent">
          <v-card-title class="headline">Add Toll Information</v-card-title>
          <v-card-text>
                <ul class="UserInfo">
                    <li>
                        <input type ="text" placeholder="Enter OBU No" v-model="obuNo"/>
                    </li>
                    <li>
                        <input type ="text" placeholder="Enter Registration No" v-model="vehicleRegistrationNo"/>
                    </li>
                    <li>
                        <input type ="text" placeholder="Enter Owner Name" v-model="vehicleOwner"/>
                    </li>
                    <li>
                        <input type ="text" placeholder="Enter Vehicle Type" v-model="vehicleType"/>
                    </li>
                    <li>
                        <input type ="text" placeholder="Enter Location" v-model="location"/>
                    </li>
                    <li>
                        <input type ="text" placeholder="Enter Country" v-model="country"/>
                    </li>
                    <li>
                        <input type ="text" placeholder="Enter Charges" v-model="charges"/>
                    </li>
                </ul>              
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" text @click="dialog = false">Cancel</v-btn>
            <v-btn color="green darken-1" text @click="submitData">Submit</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
  </v-app>
</div>
</template>
<script>
// import axios from "axios";
export default {
    name:'Modal',
    data (){
        return{
            dialog:false,
            addedData:{},
            obuNo:"",
            location:"",
            vehicleType:"",
            country:"",
            charges:"",
            vehicleOwner:"",
            vehicleRegistrationNo:""

            
        }
    },
    methods:{
        submitData(){
            let {obuNo,vehicleType,vehicleOwner,location,vehicleRegistrationNo,country,charges,addedData} = this;
           
           addedData={
                obuno:parseInt(obuNo),
                vehicleType,
                vehicleRegistrationNo,
                country,
                charges,
                location,
                vehicleOwner
            }
               
            console.log(addedData)
            this.$emit("addedData",addedData)
        }
    }
}
</script>
<style lang="scss">
    // #inspire,.CardContent {
    //     height: 500px;
    // }
    #app{
        .v-application--wrap{
            min-height: 0vh !important;
        }
        .addDataBtn {
            background-color: #4CAF50;
        }
        input {
            border: 1px solid #000;
            padding: 2px;
            width: 185px;
        
        }
        .UserInfo {
            li {
                margin-bottom: 10px;
            }
        }
    }
    
</style>