<template>
    <div id="app">
  <v-app id="inspire">
      <v-dialog v-model="dialog" persistent max-width="590">
        <template v-slot:activator="{ on }">
          <v-btn small class="addDataBtn" v-on="on">Register</v-btn>
        </template>
        <v-card class="CardContent">
          <v-card-title class="headline">Create User</v-card-title>
          <v-card-text>
                <ul class="UserFields">
                    <li>
                        <input type ="text" placeholder="Enter User Name" v-model="username"/>
                    </li>
                    <li>
                        <input type ="password" placeholder="Enter Password" v-model="password"/>
                    </li>
                </ul>              
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" text @click="dialog = false">Cancel</v-btn>
            <v-btn color="green darken-1" text @click="submitData">Submit</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
  </v-app>
</div>
</template>
<script>
import axios from "axios";
export default {
    name:'RegisterModal',
    data (){
        return{
            dialog:false,
            addedData:{},
            username:"",
            password:""
        }
    },
    methods:{
        submitData(){
            let {username,password,addedData} = this;
           
           addedData={
               username,
               password
            }
               
            console.log(addedData);
            axios.post('http://vehicledetailsmsts-env.eba-ceiaaxx3.ap-southeast-1.elasticbeanstalk.com/msts/createUser',{
                    username:username,
                    password:password
                }).then((resp)=>{
                    console.log(resp)
                    // this.$router.push({path:'home'})

                }).catch((error)=> {
                    console.log("-----------------")
                    console.log(error);
                });
            // this.$emit("addedData",addedData)
        }
    }
}
</script>
<style lang="scss">
    // #inspire,.CardContent {
    //     height: 500px;
    // }
    #app{
        .v-application--wrap{
            min-height: 0vh !important;
        }
        .addDataBtn {
            background-color:cadetblue !important;
            font-weight: 400;

        }
        .UserFields {
            text-align: left;
            li {
                margin-bottom: 10px;
            }
        }
    }
    
</style>