<template>
<div class="MainContent">
   <router-view/>
</div>
</template>

<script>
// import HelloWorld from './components/HelloWorld';

export default {
  name: 'App',


  data: () => ({
    //
  }),
};
</script>
<style lang="scss">
ul {
  list-style-type: none;
}
  .MainContent {
    margin: 0 300px;
  }
</style>
